$default-palette: (
    primary: (
        azure-blue: #008cfd,
        main-blue: #4253FF,
        super-blue: #3c48cc,
        milky-white: #ededed,
        dark: #343a40,
        super-dark: #282936,
        st-black: #111
    ),
    cool-neutrals: (
        cool-grey-0: #303538,
        cool-grey-1: #5e6366,
        cool-grey-2: #898e91,
        cool-grey-3: #b7bdc0,
        cool-grey-4: #d4d9dd,
        cool-grey-5: #ddd,
        cool-grey-6: #eee,
        cool-grey-7: rgb(255, 251, 251)
    ),
    alerts: (
        error: #f44336
    ),
    navbar: (
        item-hover: rgba(67, 83, 255, 0.1),
        nav-shadow: rgba(0, 0, 0, 0.075)
    )
);

@function get-color($group, $color) {
    @if map-has-key($default-palette, $group) {
        @if map-has-key(map-get($default-palette, $group), $color) {
            @return map-get(map-get($default-palette, $group), $color);
        }

        @warn "Unknown `#{$color}` in palette group.";
        @return null;
    }

    @warn "Unknown `#{$group}` in palette.";
    @return null;
}

// get-color(cool-neutrals, cool-grey-1)
