<div class="app-f-screen-form-container">
  <div class="app-25vw-form">
    <div class="app-logo-small">
      <a [routerLink]="['/home']">
        <img src="../../../assets/logo-svg.svg" alt="logo">
      </a>
    </div>
    <div class="app-form-heading-large">
      Create Account
    </div>
    <form autocomplete="off" novalidate
          appFieldsMatch fieldName="password" matchFieldName="passwordConfirm"
          appForm (appSubmit)="register()" #f="ngForm">

      <div class="app-form-group">
        <app-input
          required
          name="givenName"
          title="Given Name"
          [(ngModel)]="registrationModel.givenName"
        ></app-input>
      </div>

      <div class="app-form-group">
        <app-input
          required
          name="surName"
          title="Sur Name"
          [(ngModel)]="registrationModel.surName"
        ></app-input>
      </div>

      <div class="app-form-group">
        <app-input
          email
          required
          name="email"
          title="Email"
          [(ngModel)]="registrationModel.email"
        ></app-input>
      </div>

      <div class="app-form-group">
        <app-input
          required
          name="password"
          title="Password"
          type="password"
          [(ngModel)]="registrationModel.password"
        ></app-input>
      </div>

      <div class="app-form-group">
        <app-input
          required
          name="passwordConfirm"
          title="Confirmation Password"
          type="password"
          [(ngModel)]="registrationModel.passwordConfirm"
        ></app-input>
      </div>

      <app-alert *ngIf="registrationFailed" alertType="error">
        Something went wrong. Consider to put different
        registration information.
      </app-alert>     

      <app-alert *ngIf="f.errors?.notMatch" alertType="error">
        Passwords don't match.  
      </app-alert>     

      <button type="submit" class="app-button-control">Register</button>

    </form>
  </div>
</div>
