<div class="app-full-scr-container app-full-scr-container__centered">
  <div class="page">
    <div class="heading">
      <div class="app-name-box">
        <h5 [routerLink]="['/home']">
          Budget cast
        </h5>
      </div>
    </div>
    <div class="app-form-title-large">
      Create Account
    </div>
    <form autocomplete="off" novalidate
          appFieldsMatch fieldName="password" matchFieldName="passwordConfirm"
          appForm (appSubmit)="register()" #f="ngForm">

      <div class="app-row">
        <div class="app-cell">
          <app-mat-input
            required
            name="givenName"
            label="Given Name"
            errMsg="Please provide given name."
            [(ngModel)] = "registrationModel.givenName"
          ></app-mat-input>
        </div>
      </div>

      <div class="app-row">
        <div class="app-cell">
          <app-mat-input
            required
            name="surName"
            label="Sur Name"
            errMsg="Please provide sur name."
            [(ngModel)] = "registrationModel.surName"
          ></app-mat-input>
        </div>
      </div>

      <div class="app-row">
        <div class="app-cell">
          <app-mat-input
            email
            required
            name="email"
            label="Email"
            errMsg="Please provide valid email."
            [(ngModel)] = "registrationModel.email"
          ></app-mat-input>
        </div>
      </div>

      <div class="app-row">
        <div class="app-cell">
          <app-mat-input
            required
            name="password"
            label="Password"
            type="password"
            errMsg="Please provide password."
            [(ngModel)] = "registrationModel.password"
          ></app-mat-input>
        </div>
      </div>

      <div class="app-row">
        <div class="app-cell">
          <app-mat-input
            required
            name="passwordConfirm"
            label="Confirmation Password"
            type="password"
            errMsg="Please provide password."
            [(ngModel)] = "registrationModel.passwordConfirm"
          ></app-mat-input>
        </div>
      </div>

      <app-alert *ngIf="registrationFailed" alertType="error">
        Something went wrong. Consider to put different
        registration information.
      </app-alert>

      <app-alert *ngIf="f.errors?.notMatch" alertType="error">
        Passwords don't match.
      </app-alert>

      <button type="submit" class="app-button-control">Register</button>

    </form>
  </div>
</div>

<app-spinner></app-spinner>
