@import 'abstract/colors';

.app-login-g-sigin {
  cursor: pointer;
  box-shadow: inset 0 0 0 1px get-color(cool-neutrals, cool-grey-5);
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;

  &:hover {
    background-color: get-color(cool-neutrals, cool-grey-5);
  }

  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    &-thmb {
      margin-bottom: 3px;
    }

    &-title {
      font-size: 0.9rem;
      line-height: 3rem;
      margin-left: 1rem;
      color: get-color(cool-neutrals, cool-grey-1);
    }
  }
}
