<div class="row">
  <form autocomplete="off" novalidate
        appForm (appSubmit)="addReceipt()"        
        class="col-12">

    <div class="row">
      <div class="col-12 col-md-4 col-lg-3 col-xl-2 mt-2">
          <app-mat-datepicker
            required
            name="receiptdate"
            label="Receipt Date"            
            [(ngModel)]="addBasicReceipt.date"
          ></app-mat-datepicker>
        </div>    
      </div>
      
      <div class="row">
        <div class="col-12 col-md-4 col-lg-3 col-xl-2">
          <app-mat-input
            required
            minValue="0.01"
            name="totalAmount"
            label="Total amount"
            isCurrency="true"
            [(ngModel)]="addBasicReceipt.totalAmount"
          ></app-mat-input>
        </div>
      </div>
      
      <div class="row">
        <div class="col-12 col-md-4 col-lg-3 col-xl-2">
          <app-mat-chips-autocomplete
            name="tags"
            label="Tags"
            [data]="addBasicReceipt.tags"
            [options]="tagOptions"
            [isLoading]="tagsLoading"
            ngModel
            (ngModelChange)="onTagModelChange($event)">
          </app-mat-chips-autocomplete>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-4 col-lg-3 col-xl-2">
          <app-mat-autocomplete
            required
            name="campaign"
            label="Budget campaign"
            errMsg="Please specify campaign."
            [options]="campaignOptions"
            [isLoading]="campaignsLoading"
            [(ngModel)]="addBasicReceipt.campaign"
            (ngModelChange)="onCampaignModelChange($event)">
          </app-mat-autocomplete>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-4 col-lg-3 col-xl-2">
          <app-mat-input            
            name="description"
            label="Description"
            isTextArea="true"
            [(ngModel)]="addBasicReceipt.description"
          ></app-mat-input>
        </div>
      </div>
      
      <div class="row">
        <div class="col-12 col-md-4 col-lg-3 col-xl-2">
          <button type="submit" class="app-button-control">
            Save
          </button>
      </div>
    </div>
  </form>
</div>

<app-spinner></app-spinner>