<div class="input-box">
    <input #input
        [id]="id" 
        [disabled]="disabled" 
        [readonly]="readonly" 
        [value]="innerValue" 
        [type]="innerType"
        [ngClass]="{
            'input-box__input' : true,
            'input-box__input--has-value' : !!innerValue,
            'input-box__input--has-error' : containsNgClasses()
           }"
        (blur)="onBlur($event)"
		(focus)="onFocus($event)">

    <label class="input-box__label" [attr.for]="id">
        {{ title }}
    </label>

    <label class="pass-preview"
        *ngIf="type === 'password'"
        [attr.for]="id"
        [ngClass]="{'is-hidden': !innerValue}"
        (click)="showPassword()"></label>

    <ng-container *ngIf="isSearch">
        <button class="search__icon input-box__search-icon"></button>
    </ng-container>

</div>