<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat Code Coverage">
				<Configuration>					
					<Exclude>[*]*.Program,[*]*.Startup,[BudgetCast.Expenses.Api]*,[BudgetCast.Common*]*</Exclude>
				</Configuration>				
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>