  <h5 class="app-name">Budget cast</h5>
  <nav class="app-nav">
    <ul class="app-nav__menu">
      <li class="app-nav__menu__item">
        <a class="app-nav__menu__item__link" [routerLink]="['/home']"
            routerLinkActive="app-nav__menu__item__link--active">Home</a>
      </li>
      <li class="app-nav__menu__item">
        <a class="app-nav__menu__item__link" href="#">Features</a>
      </li>
      <li class="app-nav__menu__item">
        <a class="app-nav__menu__item__link" href="#">Support</a>
      </li>
      <li class="app-nav__menu__item">
        <a class="app-nav__menu__item__link"
          *ngIf="!userIdentity?.isAuthenticated"
          [routerLink]="['account/login']">Log In</a>
      </li>
    </ul>
    <app-user-profile-actions
      *ngIf="userIdentity?.isAuthenticated">
    </app-user-profile-actions>
  </nav>
