@import 'abstract/colors';

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: none;

  padding: 1.2rem 0.8rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid get-color(primary, milky-white);
  box-shadow: 0 0.125rem 0.25rem get-color(navbar, nav-shadow);
}

.app-name {
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-family: MontserratBold;
}

.app-nav {
  display: flex;
  align-items: center;

  &__menu {
    list-style: none;

    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;

    &__item {
      position: relative;

      &__link {
        color: get-color(primary, mail-blue);
        text-decoration: none;
        padding: 0.8rem 0.9rem;
        font-family: HkGraphicMedium;

        &:hover {
          background-color: get-color(navbar, item-hover);
        }

        &--active {
          text-decoration: underline;
        }
      }
    }
  }
}
