<h5 class="app-name">Budget cast</h5>
<nav class="app-nav">
  <ul class="app-nav__menu">
    <li class="app-nav__menu__item">
      <a class="app-nav__menu__item__link"
         [routerLink]="['/home']"
         routerLinkActive="app-nav__menu__item__link--active">Home</a>
    </li>
    <li class="app-nav__menu__item">
      <a class="app-nav__menu__item__link"
         [routerLink]="['/receipt']">Receipts</a>
    </li>
    <li class="app-nav__menu__item">
      <a class="app-nav__menu__item__link" href="#">Support</a>
    </li>
    <li class="app-nav__menu__item"
        *ngIf="(userIdentity$ | async) as userIdentity">
      <button class="app-nav__menu__item__btn"
              mat-button [matMenuTriggerFor]="appMenu">
        Hi, {{userIdentity.givenName}}
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #appMenu="matMenu" xPosition="before">
        <button mat-menu-item
                [routerLink]="['/account/profile']">
          Profile
          <mat-icon>account_circle</mat-icon>
        </button>
        <button mat-menu-item
                (click)="logOut()">
          Logout
          <mat-icon>input</mat-icon>
        </button>
      </mat-menu>
    </li>
  </ul>
</nav>
