<div class="app-full-scr-container app-full-scr-container__centered">
    <div class="app-q-container">
      <div class="app-name-box">
        <h5 [routerLink]="['/home']">
          Budget cast
        </h5>
      </div>
      <div class="app-form-title-large">
        Forgot your password?
      </div>
      <form autocomplete="off" novalidate
            appForm (appSubmit)="forgotPassword()">

        <div class="app-row">
          <div class="app-cell">
            <app-mat-input
              email
              required
              name="email"
              label="Email"
              errMsg="Please provide valid email."
              [(ngModel)] = "forgotPasswordModel.email"
            ></app-mat-input>
          </div>
        </div>

        <button type="submit" class="app-button-control">Submit</button>

      </form>

      <app-alert *ngIf="forgotPasswordError"  alertType="error">
          Please try another email address.
      </app-alert>

    </div>
  </div>

  <app-spinner></app-spinner>
