<div class="app-full-scr-container">
    <div class="app-q-container">
      <div class="app-logo-sm">
        <a [routerLink]="['/home']">
          <img src="../../../assets/logo-svg.svg" alt="logo">
        </a>
      </div>
      <div class="app-form-title-large">
        Forgot your password?
      </div>
      <form autocomplete="off" novalidate
            appForm (appSubmit)="forgotPassword()">

        <div class="app-row">
          <div class="app-cell app-form-group">          
            <app-input
              email
              required
              name="email"
              title="Email"  
              [(ngModel)] = "forgotPasswordModel.email"
            ></app-input>
          </div>
        </div>

        <button type="submit" class="app-button-control">Submit</button>

      </form>

      <app-alert *ngIf="forgotPasswordError"  alertType="error">
          Please try another email address.
      </app-alert>   

    </div>
  </div>

  <app-spinner></app-spinner>