<div class="app-f-screen-form-container">
    <div class="app-25vw-form">
      <div class="app-logo-small">
        <a [routerLink]="['/home']">
          <img src="../../../assets/logo-svg.svg" alt="logo">
        </a>
      </div>
      <div class="app-form-heading-large">
        Forgot your password?
      </div>
      <form autocomplete="off" novalidate
            appForm (appSubmit)="forgotPassword()">

        <div class="app-form-group">          
          <app-input
            email
            required
            name="email"
            title="Email"  
            [(ngModel)] = "forgotPasswordModel.email"
          ></app-input>
        </div>

        <button type="submit" class="app-button-control">Submit</button>

      </form>

      <div *ngIf="forgotPasswordError" class="app-control-alert-red">
          Please try another email address.
     </div>

    </div>
  </div>
