<mat-form-field appearance="standard" [hideRequiredMarker]="true">
  <mat-label>{{label}}</mat-label>
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let item of data"
      [removable]="removable"
      (removed)="remove(item)">
      {{item}}
      <mat-icon *ngIf="removable" matChipRemove>
        cancel
      </mat-icon>
    </mat-chip>
    <input
      #input
      [formControl]="inputControl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="true"
      (matChipInputTokenEnd)="add($event)"
      (blur)="onBlur($event)"
      (focus)="onFocus($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngIf="isLoading" class="is-loading">
      <mat-spinner diameter="25"></mat-spinner>
    </mat-option>
    <mat-option *ngFor="let option of options" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
