<form autocomplete="off" novalidate
      appForm (appSubmit)="updateProfile()">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <app-mat-input
          required
          name="givenName"
          label="GivenName"
          errMsg="Please provide given name."
          [(ngModel)] = "profileModel.givenName"
        ></app-mat-input>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <app-mat-input
          required
          name="surName"
          label="SurName"
          errMsg="Please provide sur name."
          [(ngModel)] = "profileModel.surName"
        ></app-mat-input>
      </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <button type="submit" class="app-button-control">
              Update
          </button>
        </div>
      </div>
</form>

<app-spinner></app-spinner>
