<mat-menu #appMenu="matMenu" xPosition="before">
    <button mat-menu-item
            [routerLink]="['/account/profile']">
        Profile
        <mat-icon>account_circle</mat-icon>
    </button>    
    <button mat-menu-item
            (click)="logOut()">
        Logout
        <mat-icon>input</mat-icon>
    </button>   
</mat-menu>

<button mat-button 
        [matMenuTriggerFor]="appMenu"
        *ngIf="userIdentity$ | async as userIdentity">
    Hi, {{userIdentity.givenName}}
    <mat-icon>arrow_drop_down</mat-icon>
</button>