<div class="app-home">
  <div class="app-home__caption">
    <h1 class="app-home__caption__title">There's a better way to track your budget.</h1>
    <h6 class="app-home__caption__description">
        Keeping track of payment history and spendings helps
        to analize your monthly budget needs. View analitical
        data based on product and services categories, places,
        dates and many more will even help to predict how much
        you money you need to cover all your needs in the future.
    </h6>
    <button class="app-button-control"
            (click)="getStarted()"
            type="button">Get started - it's free</button>
  </div>
  <div class="app-home__img">
    <img src="../../assets/programmatic-marketing.jpg" alt="Screen">
  </div>
</div>
<div class="app-home__footer">
    <div class="app-home__footer__rights ">All rights received. © 2019</div>
</div>
