<div class="app-f-screen-form-container">
    <div class="app-25vw-form">
      <div class="app-logo-small">
        <a [routerLink]="['/home']">
          <img src="../../../assets/logo-svg.svg" alt="logo">
        </a>
      </div>
      <div class="app-form-heading-large">
        Reset Password
      </div>
      <form autocomplete="off" novalidate
            [formGroup]="resetPasswordForm"
            (ngSubmit)="resetPassword()">

        <div class="app-form-group">
          <input type="email" class="app-input-control" placeholder="Email"
                 formControlName="email">
        </div>

        <div class="app-form-group">
          <input type="password" class="app-input-control" placeholder="Password"
                 formControlName="password">
        </div>

        <div class="app-form-group">
          <input type="password" class="app-input-control" placeholder="Password confirmation"
                 formControlName="passwordConfirm">
        </div>

        <div *ngIf="resetPasswordFailed" class="app-control-alert-red">
             Something went wrong. Please check input data.
        </div>

        <button type="submit" class="app-button-control"
                [disabled]="resetPasswordForm.invalid || resetPasswordForm.pristine">
          Reset Password
        </button>

      </form>
    </div>
  </div>

