<div class="app-f-screen-form-container">
    <div class="app-25vw-form">
      <div class="app-logo-small">
        <a [routerLink]="['/home']">
          <img src="../../../assets/logo-svg.svg" alt="logo">
        </a>
      </div>
      <div class="app-form-heading-large">
        Reset Password
      </div>
      <form autocomplete="off" novalidate
            appFieldsMatch fieldName="password" matchFieldName="passwordConfirm"
            appForm (appSubmit)="resetPassword()" #f="ngForm">

        <div class="app-form-group">
          <app-input
            email
            required
            name="email"
            title="Email"
            [(ngModel)]="resetPasswordModel.email"
          ></app-input>
        </div>

        <div class="app-form-group">
          <app-input
            required
            type="password"
            name="password"
            title="Password"
            [(ngModel)]="resetPasswordModel.password"
          ></app-input>
        </div>

        <div class="app-form-group">
          <app-input
            required
            type="password"
            name="passwordConfirm"
            title="Password Confirmation"
            [(ngModel)]="resetPasswordModel.passwordConfirm"
          ></app-input>
        </div>

        <app-alert *ngIf="resetPasswordFailed" alertType="error">
          Something went wrong. Please check input data.
        </app-alert> 

        <app-alert *ngIf="f.errors?.notMatch" alertType="error">
          Passwords don't match.
        </app-alert> 

        <button type="submit" class="app-button-control">Reset Password</button>

      </form>
    </div>
  </div>

