<div class="app-full-scr-container app-full-scr-container__centered">
    <div class="app-q-container">
      <div class="app-logo-sm">
        <a [routerLink]="['/home']">
          <img src="../../../assets/logo-svg.svg" alt="logo">
        </a>
      </div>
      <div class="app-form-title-large">
        Reset Password
      </div>
      <form autocomplete="off" novalidate
            appFieldsMatch fieldName="password" matchFieldName="passwordConfirm"
            appForm (appSubmit)="resetPassword()" #f="ngForm">

        <div class="app-row">
          <div class="app-cell app-form-group">
            <app-mat-input
              email
              required
              name="email"
              label="Email"
              errMsg="Please provide valid email."
              [(ngModel)] = "resetPasswordModel.email"
            ></app-mat-input>
          </div>
        </div>

        <div class="app-row">
          <div class="app-cell app-form-group">
            <app-mat-input
              required
              name="password"
              label="Password"
              type="password"
              errMsg="Please provide password."
              [(ngModel)] = "resetPasswordModel.password"
            ></app-mat-input>
          </div>
        </div>

        <div class="app-row">
          <div class="app-cell app-form-group">
            <app-mat-input
              required
              name="passwordConfirm"
              label="Password Confirmation"
              type="password"
              errMsg="Please provide password."
              [(ngModel)] = "resetPasswordModel.passwordConfirm"
            ></app-mat-input>
          </div>
        </div>

        <app-alert *ngIf="resetPasswordFailed" alertType="error">
          Something went wrong. Please check input data.
        </app-alert>

        <app-alert *ngIf="f.errors?.notMatch" alertType="error">
          Passwords don't match.
        </app-alert>

        <button type="submit" class="app-button-control">Reset Password</button>

      </form>
    </div>
  </div>

  <app-spinner></app-spinner>
