<mat-form-field appearance="standard" [hideRequiredMarker]="true">
  <mat-label>{{label}}</mat-label>
  <ng-container *ngIf="!isCurrency; else currency">
    <input
          #input
          matInput
          [id]="id"
          [readonly]="readonly"
          [type]="innerType"
          [formControl]="inputControl"
          (blur)="onBlur($event)"
          (focus)="onFocus($event)">
  </ng-container>
  <ng-template #currency>
    <input
          #input
          matInput
          currencyMask
          [options]="{prefix: '₴ '}"
          [id]="id"
          [readonly]="readonly"
          [type]="innerType"
          [formControl]="inputControl"
          (blur)="onBlur($event)"
          (focus)="onFocus($event)">
  </ng-template>
  <mat-error>{{errMsg}}</mat-error>
  <button
        *ngIf="type === 'password'"
        mat-icon-button
        matSuffix
        (click)="showPassword($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
    <mat-icon [style.color]="hasError ? '#dc3545' : '#303538'">
      {{hide ? 'visibility_off' : 'visibility'}}
    </mat-icon>
  </button>

  <button
        *ngIf="isSearch"
        mat-icon-button
        matSuffix>
    <mat-icon>search</mat-icon>
  </button>
</mat-form-field>
