<nav class="main-nav">
  <ul class="main-nav__list">
    <li class="main-nav__item">
      <a class="main-nav__link"
         [routerLink]="['/welcome']"
         routerLinkActive="main-nav__item--active">
          <span class="icon icon--home"></span>
          <span>Home</span>
      </a>
    </li>
    <li class="main-nav__item"
        [class.open]="openedSubmenu === 'expense'">
      <span class="main-nav__link" (click)="openSubMenu('expense')" >
        <span class="icon icon--expense"></span>
        <span>Expenses</span>
        <span class="icon icon--expand-menu"></span>
      </span>
      <ul class="main-nav__secondary-menu">
        <li class="main-nav__item">
          <a class="main-nav__link"
             [routerLink]="['/expenses/dashboard']"
             routerLinkActive="main-nav__item--active">
            <span class="icon icon--expense-dashboard"></span>
            <span>View</span>
          </a>
        </li>
        <li class="main-nav__item">
            <a class="main-nav__link"
               [routerLink]="['/expenses/add-expense']"
               routerLinkActive="main-nav__item--active">
              <span class="icon icon--expense-add"></span>
              <span>Add</span>
            </a>
          </li>
      </ul>
    </li>
    <li class="main-nav__item"
        [class.open]="openedSubmenu === 'account'">
      <span class="main-nav__link" (click)="openSubMenu('account')" >
        <span class="icon icon--account"></span>
        <span>User Account</span>
        <span class="icon icon--expand-menu"></span>
      </span>
      <ul class="main-nav__secondary-menu">
        <li class="main-nav__item">
          <a class="main-nav__link"
             [routerLink]="['/user-account/profile']"
             routerLinkActive="main-nav__item--active">
            <span class="icon icon--profile"></span>
            <span>Profile Edit</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <div class="main-nav__item">
    <span class="main-nav__link" (click)="logOut()">
      <span class="icon icon--logout"></span>
      <span>Log Out</span>
    </span>
  </div>
</nav>
