@import "abstract/colors";

.main-nav {
  margin-bottom: 15px;
  height: 100%;

  &__item {
    position: relative;

    &:hover > .main-nav__secondary-menu,
    &:hover .support-nav__dropdown {
      display: block;
    }

    &:hover {
      background: get-color(cool-neutrals, cool-grey-4);
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--active {
      background: get-color(cool-neutrals, cool-grey-4);
    }

    .icon {
      &:after {
        content: "";
        position: absolute;
      }

      &--home {
        &:after {
          background: url(../../../../../assets/images/icons/home.svg) no-repeat;
          height: 23px;
          left: 14px;
          top: 14px;
          width: 25px;
        }
      }

      &--account {
        &:after {
          background: url(../../../../../assets/images/icons/account.svg) no-repeat;
          height: 21px;
          left: 10px;
          top: 5px;
          width: 22px;
        }
      }

      &--expense {
        &:after {
          background: url(../../../../../assets/images/icons/bill.svg) no-repeat;
          height: 22px;
          left: 14px;
          top: 15px;
          width: 22px;
        }
      }

      &--expense-dashboard {
        &:after {
          background: url(../../../../../assets/images/icons/expense-dashboard.svg) no-repeat;
          height: 22px;
          left: 15px;
          top: 15px;
          width: 22px;
        }
      }

      &--expense-add {
        &:after {
          background: url(../../../../../assets/images/icons/add.svg) no-repeat;
          height: 22px;
          left: 15px;
          top: 15px;
          width: 22px;
        }
      }

      &--account {
        &:after {
          background: url(../../../../../assets/images/icons/account.svg) no-repeat;
          height: 22px;
          left: 15px;
          top: 15px;
          width: 22px;
        }
      }

      &--profile {
        &:after {
          background: url(../../../../../assets/images/icons/profile.svg) no-repeat;
          height: 22px;
          left: 15px;
          top: 15px;
          width: 22px;
        }
      }

      &--logout {
        &:after {
          background: url(../../../../../assets/images/icons/logout.svg) no-repeat;
          height: 22px;
          left: 15px;
          top: 15px;
          width: 22px;
        }
      }

      &--expand-menu {
        &:after {
          background: url(../../../../../assets/images/icons/icon-right-arrow.svg) no-repeat;
          height: 12px;
          right: 10px;
          float: right;
          top: 21px;
          width: 12px;
        }
      }
    }

    &.open {
      .main-nav__secondary-menu,
      .support-nav__dropdown {
        height: auto;
      }

      .icon--expand-menu {
        &:after {
          top: 19px;
          transform: rotate(180deg);
        }
      }
    }
  }

  &__link {
    align-items: center;
    display: flex;
    font-size: 0.8rem;
    font-weight: 600;
    height: 50px;
    padding-left: 50px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: get-color(cool-neutrals, cool-grey-0);
  }

  &__secondary-menu {
    height: 0;
    overflow: hidden;
    top: 0;
    left: 100%;
    background: get-color(cool-neutrals, cool-grey-6);
  }
}
