@import "abstract/colors";

.app-login-g-sigin {
  position: relative;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px get-color(cool-neutrals, cool-grey-5);
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;

  &-btn {
    text-align: center;

    &-thmb {
      position: absolute;
      left: 10px;
      margin-bottom: 3px;
      padding-right: 8px;
      padding-top: 11px;
      height: 100%;
      border-right: 1px solid get-color(cool-neutrals, cool-grey-5);
    }

    &-title {
      font-size: 0.9rem;
      line-height: 3rem;
      margin-right: 1rem;
      color: get-color(cool-neutrals, cool-grey-1);
    }
  }

  &:hover {
    background-color: get-color(cool-neutrals, cool-grey-5);

    .app-login-g-sigin-btn {
      &-thmb {
        border-right: 1px solid get-color(cool-neutrals, cool-grey-7);
      }
    }
  }
}
