@import "abstract/colors";

hr {
  margin: 0.3rem 0;
}

.header,
.actions {
  display: flex;
}

.content {
  font-size: 0.85rem;

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    &__title {
      font-weight: 600;
      margin-right: 8px;
    }
  }
}

.actions {
  margin-top: 10px;
  justify-content: flex-end;

  > button {
    font-weight: 600;
    cursor: pointer;
  }
}

.header {
  justify-content: space-between;
  align-items: center;
  &__total {
    font-weight: 600;
    font-size: 1.2rem;
  }

  &__date {
    font-size: 0.9rem;
  }
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
