<div class="app-f-screen-form-container">
  <div class="app-25vw-form">
    
    <div class="app-logo-small">
      <a [routerLink]="['/home']">
        <img src="../../../assets/logo-svg.svg" alt="logo">
      </a>
    </div>
    <div class="app-form-heading-large">
      Log Into My Account
    </div>

    <app-google-signin 
      (signIn)="googleLogin()">      
    </app-google-signin>

    <div class="app-login-or-line">
      <span>or</span>
    </div>

    <form autocomplete="off" novalidate
          appForm
          (appSubmit)="login()">

      <div class="app-form-group">
        <app-input
          email
          required
          name="email"
          title="Email"  
          [(ngModel)] = "loginModel.email"
        ></app-input>
      </div>

      <div class="app-form-group">
        <app-input          
          required
          name="password"
          title="Password"  
          type="password"
          [(ngModel)] = "loginModel.password"
        ></app-input>
      </div>

      <app-alert *ngIf="invalidCredentials" alertType="error">
            Please check your credentials.
      </app-alert>  

      <button type="submit" class="app-button-control">Log In</button>
    </form>

    <p class="app-login-link app-login-link-left">
      <a [routerLink]="['/account/register']">Don't have an account?</a>
    </p>
    
    <p class="app-login-link app-login-link-right">
      <a [routerLink]="['/account/forgot-password']">Forgot password?</a>
    </p>
  </div>
</div>

<app-spinner></app-spinner>