<div class="app-full-scr-container">
  <div class="app-q-container">
    
    <div class="app-logo-sm">
      <a [routerLink]="['/home']">
        <img src="../../../assets/logo-svg.svg" alt="logo">
      </a>
    </div>
    <div class="app-form-title-large">
      Log Into My Account
    </div>

    <div class="app-form-group">
      <app-google-signin 
        (signIn)="googleLogin()">      
      </app-google-signin>
    </div>

    <div class="app-form-group">
      <app-fb-signin
        (signIn)="fbLogin()">
      </app-fb-signin>
    </div> 

    <div class="app-login-or-line">
      <span>or</span>
    </div>

    <form autocomplete="off" novalidate
          appForm (appSubmit)="login()">

      <div class="app-row">
        <div class="app-cell app-form-group">
          <app-input
            email
            required
            name="email"
            title="Email"  
            [(ngModel)] = "loginModel.email"
          ></app-input>
        </div>
      </div>

      <div class="app-row">
        <div class="app-cell app-form-group">
          <app-input          
            required
            name="password"
            title="Password"  
            type="password"
            [(ngModel)] = "loginModel.password"
          ></app-input>
        </div>
      </div>

      <app-alert *ngIf="invalidCredentials" alertType="error">
            Please check your credentials.
      </app-alert>  

      <button type="submit" class="app-button-control">Log In</button>
    </form>

    <div class="app-row">
      <p class="app-cell app-login-link app-login-link-left">
        <a [routerLink]="['/account/register']">Don't have an account?</a>
      </p>
      
      <p class="app-cell app-login-link app-login-link-right">
        <a [routerLink]="['/account/forgot-password']">Forgot password?</a>
      </p>
    </div>
  </div>
</div>

<app-spinner></app-spinner>