<div class="app-full-scr-container app-full-scr-container__centered">
  <div class="heading">
    <div class="app-name-box">
      <h5 [routerLink]="['/home']">
        Budget cast
      </h5>
    </div>
  </div>
  <div class="page">
    <div class="app-form-title-large">
      Log Into My Account
    </div>

    <div class="app-form-group">
      <app-google-signin
        (signIn)="googleLogin()">
      </app-google-signin>
    </div>

    <div class="app-form-group">
      <app-fb-signin
        (signIn)="fbLogin()">
      </app-fb-signin>
    </div>

    <div class="or-line">
      <span>or</span>
    </div>

    <form autocomplete="off" novalidate
          appForm (appSubmit)="login()">

      <div class="app-row">
        <div class="app-cell">
          <app-mat-input
            email
            required
            name="email"
            label="Email"
            errMsg="Please provide valid email."
            [(ngModel)] = "loginModel.email"
          ></app-mat-input>
        </div>
      </div>

      <div class="app-row">
        <div class="app-cell">
          <app-mat-input
            required
            name="password"
            label="Password"
            type="password"
            errMsg="Please provide password."
            [(ngModel)] = "loginModel.password"
          ></app-mat-input>
        </div>
      </div>

      <app-alert *ngIf="invalidCredentials" alertType="error">
        Please check your credentials.
      </app-alert>

      <button type="submit" class="app-button-control">Log In</button>
    </form>

    <div class="app-row">
      <p class="app-cell login-link">
        <a [routerLink]="['/account/register']">Don't have an account?</a>
      </p>

      <p class="app-cell login-link">
        <a [routerLink]="['/account/forgot-password']">Forgot password?</a>
      </p>
    </div>
  </div>
</div>

<app-spinner></app-spinner>
