.app-login-or-line {
  margin: 0.8rem 0 0.8rem 0;
  color: #666;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 400;
}

.app-login-link {
  display: inline-block;
  width: 50%;
  margin-bottom: 0.6rem;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
  font-family: HkGraphicLight;

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  a {
    color: #666;
    text-decoration: none;
    border-bottom: 1px solid #666;
    font-family: inherit;
  }
}
