.app-login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.app-login-logo {
  text-align: center;
  img {
    height: 120px;
    width: 120px;
  }
}

.app-login-form {
  width: 25vw;
}

.app-login-heading {
  padding: 0;
  margin-top: 0;
  margin-bottom: 1.8rem;
  color: #000;
  font-size: 2rem;
  line-height: 1.1;
  font-weight: 600;
  text-align: center;
}

.app-login-g-sigin {
  cursor: pointer;
  box-shadow: inset 0 0 0 1px #ddd;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;

  &:hover {
    background-color: #ddd;
  }

  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    &-thmb {
      margin-bottom: 3px;
    }

    &-title {
      font-size: 0.9rem;
      line-height: 3rem;
      margin-left: 1rem;
      color: #666;
    }
  }
}

.app-login-or-line {
  margin: 0.8rem 0 0.8rem 0;
  color: #666;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 400;
}

.app-login-link {
  display: inline-block;
  width: 50%;
  margin-bottom: 0.6rem;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
  font-family: HkGraphicLight;

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  a {
    color: #666;
    text-decoration: none;
    border-bottom: 1px solid #666;
    font-family: inherit;
  }
}
