.app-control-alert {
  border: 1px solid #d3d4d5;
  border-radius: 3px;

  padding: 0.3rem 0.7rem;
  margin-bottom: 0.8rem;
  font-size: 0.8rem;
  font-family: HkGraphicLight;
  font-weight: 600;
}

.app-control-alert-red {
  @extend .app-control-alert;
  border-left: 3px solid #f72a2a;
  color: red;
}

.app-control-alert-blue {
  @extend .app-control-alert;
  border-left: 3px solid blue;
  color: blue;
}

.app-control-alert-black {
  @extend .app-control-alert;
  border-left: 3px solid black;
  color: black;
}
