@font-face {
  font-family: HkGraphicMedium;
  src: url('../assets/fonts/HKGrotesk-Medium.otf') format('opentype');
}

@font-face {
  font-family: HkGraphicLight;
  src: url('../assets/fonts/HKGrotesk-Light.otf') format('opentype');
}

@font-face {
  font-family: HkGraphicBold;
  src: url('../assets/fonts/HKGrotesk-Bold.otf') format('opentype');
}

@font-face {
  font-family: HkGraphicSemiBold;
  src: url('../assets/fonts/HKGrotesk-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: MontserratBold;
  src: url('../assets/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: MontserratSemiBold;
  src: url('../assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
}
