<div class="app-container">
  <mat-toolbar color="primary" class="app-container__toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-container__toolbar__title"
        [routerLink]="['/welcome']">Budget cast</h1>
  </mat-toolbar>
  <mat-sidenav-container class="app-container__sidenav__container">
    <mat-sidenav #snav class="app-container__sidenav__container_snav">
        <button mat-menu-item
                [routerLink]="['/user-account/profile']">
          Edit profile
          <mat-icon>account_circle</mat-icon>
        </button>
    </mat-sidenav>
    <mat-sidenav-content class="app-container__sidenav__container_content">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
