<div class="app-container">
  <mat-sidenav-container class="app-container__sidenav__container">
    <mat-sidenav #snav
                 class="app-container__sidenav__container__snav mat-elevation-z10"
                 [opened]="!isScreenSmall()"
                 [mode]="isScreenSmall() ? 'over' : 'side'">
        <mat-toolbar class="app-container__sidenav__container__snav__header"
                    *ngIf="userIdentity$ | async as userIdentity" color="primary">
          <span>Hi, {{userIdentity.givenName}}</span>
          <img src="../../../assets/images/user-avatar.png" alt="Avatar"
               class="app-container__sidenav__container__snav__header__avatar">
        </mat-toolbar>

          <perfect-scrollbar>
            <nav class="main-nav">
              <ul class="main-nav__list">
                <li class="main-nav__item">
                  <a class="main-nav__link"
                     [routerLink]="['/welcome']"
                     routerLinkActive="main-nav__item--active">
                      <span class="icon icon--home"></span>
                      <span>Home</span>
                  </a>
                </li>
                <li class="main-nav__item"
                    [class.open]="openedSubmenu === 'receipt'">
                  <span class="main-nav__link" (click)="openSubMenu('receipt')" >
                    <span class="icon icon--receipt"></span>
                    <span>Receipt</span>
                    <span class="icon icon--expand-menu"></span>
                  </span>
                  <ul class="main-nav__secondary-menu">
                    <li class="main-nav__item">
                      <a class="main-nav__link"
                         [routerLink]="['/receipts/dashboard']"
                         routerLinkActive="main-nav__item--active">
                        <span class="icon icon--receipt-dashboard"></span>
                        <span>Dashboard</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="main-nav__item"
                    [class.open]="openedSubmenu === 'account'">
                  <span class="main-nav__link" (click)="openSubMenu('account')" >
                    <span class="icon icon--account"></span>
                    <span>User Account</span>
                    <span class="icon icon--expand-menu"></span>
                  </span>
                  <ul class="main-nav__secondary-menu">
                    <li class="main-nav__item">
                      <a class="main-nav__link"
                         [routerLink]="['/user-account/profile']"
                         routerLinkActive="main-nav__item--active">
                        <span class="icon icon--profile"></span>
                        <span>Profile Edit</span>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
              <div class="main-nav__item">
                <span class="main-nav__link" (click)="logOut()">
                  <span class="icon icon--logout"></span>
                  <span>Log Out</span>
                </span>
              </div>
            </nav>
          </perfect-scrollbar>
    </mat-sidenav>
    <mat-sidenav-content class="app-container__sidenav__container_content">
      <mat-toolbar color="primary" class="app-container__toolbar">
        <button [style.visibility]="isScreenSmall() ? 'visible' : 'hidden'"
                mat-icon-button (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <h1 class="app-container__toolbar__title"
            [routerLink]="['/welcome']">Budget cast</h1>
      </mat-toolbar>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
