<div>
  <h5>Edit your profile</h5>
  <hr>
  <div class="app-profile-form">
    <form autocomplete="off" novalidate
          [formGroup]="profileForm"
          (ngSubmit)="updateProfile()">

          <div class="app-form-group">
            <label for="givenName">Given Name</label>
            <input id="givenName" type="text" class="app-input-control" placeholder="Please enter given name..."
                  formControlName="givenName">
          </div>

          <div class="app-form-group">
            <label for="surname">Sur Name</label>
            <input id="surname" type="text" class="app-input-control" placeholder="Please enter sur name..."
                   formControlName="surName">
          </div>

          <div class="d-flex">
            <button type="submit" class="app-button-control"
                    [disabled]="profileForm.invalid || profileForm.pristine">Update</button>

            <button type="submit" class="app-button-control"
                    (click)="cancel()">Cancel</button>
          </div>
    </form>
  </div>
</div>
