<div>
  <h5>Edit your profile</h5>
  <hr>
  <div class="app-q-container">
    <form autocomplete="off" novalidate 
          appForm (appSubmit)="updateProfile()">

      <div class="app-row">
        <div class="app-cell app-form-group">
          <app-input 
            required 
            name="givenName" 
            title="GivenName" 
            [(ngModel)]="profileModel.givenName"
          ></app-input>
        </div>
      </div>

      <div class="app-row">
        <div class="app-cell app-form-group">
          <app-input 
            required 
            name="surName" 
            title="SurName" 
            [(ngModel)]="profileModel.surName"
          ></app-input>
        </div>
      </div>

      <div class="app-row">
        <button type="submit" class="app-cell app-button-control">Update</button>
        <button type="button" class="app-cell app-button-control" (click)="cancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>

<app-spinner></app-spinner>